<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New Form</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>New Fruit Page</h1>
    <form action="/fruits" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <label for="color">Color</label>
      <input type="text" name="color" id="color" />
      <label for="readyToEat">Is Ready To Eat</label>
      <input type="checkbox" name="readyToEat" id="readyToEat" />
      <input type="submit" value="Create Fruit" />
    </form>
  </body>
</html>
