<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>New</title>
  </head>
  <body>
    <div class="container"></div>
    <h1>Add a New Item</h1>
    <form action="/budgets" method="POST">
      <input type="text" name="date" id="date" placeholder="date" />
      <input type="name" name="name" id="name" placeholder="name" />
    </br>
      <input type="text" name="amount" id="amount" placeholder="amount" />
      <input type="text" name="from" id="from" placeholder="from" />
    </br>
    <input type="submit" value="Create New Item" />

    </form>
  </body>
</html>
