<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>New</title>
  </head>
  <body>
    <h1>New Log Page</h1>
    <form action="/logs" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
      <label for="entry">Entry</label>
      <input type="textarea" name="entry" id="entry" />
      <label for="shipIsBroken">Is Ship Broken?</label>
      <input type="checkbox" name="shipIsBroken" id="shipIsBroken" />
      <input type="submit" value="Create Log" />
    </form>
  </body>
</html>
