<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>KZ | Pokedex App</title>
</head>

<body>
  <h1>New Page</h1>
  <h4><a href="/pokemon">Go Back</a></h4>
  <form action="/pokemon" method="POST">
    <label for="pokeName">Name</label>
    <input type="text" name="name" id="pokeName">
    <label for="pokeImg">Image</label>
    <input type="text" name="img" id="pokeImg">
    <label for="pokeType">Type</label>
    <input type="text" name="type" id="pokeType">
    <label for="statsHP">HP Stat</label>
    <input type="text" name="hp" id="statsHP">
    <label for="statsAtt">Attack Stat</label>
    <input type="text" name="attack" id="statsAtt">
    <label for="statsDef">Defense Stat</label>
    <input type="text" name="defense" id="statsDef">
    <input type="submit" value="Add New Pokemon">
  </form>
</body>

</html>